@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'Lemon Bird';
    src: url('LemonBird-Regular.woff2') format('woff2'),
        url('LemonBird-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/patrickhand/v23/LDI1apSQOAYtSuYWp8ZhfYe8XsLL.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #F3F3F3;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #156bd8;
    border-radius: 4px;
    border: 2px solid #F3F3F3;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #0f52a5;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}


body {
    font-family: 'Lemon Bird';
    background-color: #F3F3F3;
    cursor: url('../img/mouse.svg') 18 18, auto;
    overflow: hidden;
}

body:active {
    cursor: url('../img/click.svg') 16 16, auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../img/paper1.png') no-repeat center top, cover;
    z-index: -1;
}

::selection {
    background-color: none;
    /* #156BD8  */
    color: #FF689B;
    height: 2px;
}

a,
a:hover,
a:focus,
a:active {
    cursor: url('../img/pointer.svg') 16 16, auto;
}

button,
button:hover,
button:focus,
button:active {
    cursor: url('../img/pointer.svg') 16 16, auto;
}


h2 {
    font-size: 32px;
}

strong {
    font-family: "Patrick Hand";
    font-size: 28px;
}

p {
    font-family: 'Ownglyph_ryurue-Rg';
    font-size: 24px;
    line-height: 36px;
    word-break: keep-all;
}

b {
    font-family: "Patrick Hand";
    font-size: 32px;
}

.page-container {
    perspective: 1500px;
    perspective-origin: center center;
}


/* landing */
.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../img/paper1.png') no-repeat center center / cover;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    /* 3D 뒤집기 매끄럽게 하기 위한 설정 */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-origin: top center;
    transform: rotateX(0deg);
    transition: transform 2s ease-in-out;
}

.landing.hide {
    transform: rotateX(90deg);
}

.landing.hide~.page .top {
    display: block;
}

.landing_svg-1,
.landing_svg-2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
    max-width: 600px;
}

.landing_svg-2 {
    width: 80%;
    max-width: 800px;
}

.landing_svg-2 path {
    stroke-width: 3 !important;
}

.landing_svg-1.active,
.landing_svg-2.active {
    display: block;
}

.page.hidden {
    display: none;
}

/* page */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* 높게 띄워서 인트로보다 위에 보이게 */
    background: url('../img/paper.png') no-repeat center bottom / cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.header .inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/paper.png') center center no-repeat / cover;
}

.header .inner .logo {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

.header .inner .logo img {
    width: 80px;
}

.header .inner .nav .gnb {
    display: flex;
    gap: 120px;
}

.header .inner .nav .gnb li a {
    font-size: 32px;
}

.header .inner .nav .gnb li:hover a {
    color: #156bd8;
    transition: 0.7;
}

/* intro 🎀 */
.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../img/paper1.png') no-repeat center center / cover;

    overflow: visible;
    position: relative;
}

.intro .inner {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .title {
    position: relative;
    z-index: 2;

    display: inline-flex;
    margin-bottom: 40px;
}

.intro .title img {
    width: 120px;
    height: auto;
    user-select: none;
    pointer-events: none;
}

.intro .path {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1192px;
    margin: 0 auto;
    z-index: 1;
    pointer-events: none;
}

.border-path {
    width: 100%px;
    height: auto;
    display: block;
}

.intro .text {
    position: absolute;
    top: -18%;
    left: 27%;
    transform: translateX(-80%) rotate(-10deg);
    z-index: 3;
    color: #121212;
    user-select: none;
    pointer-events: none;
    max-width: 1114px;
}

.intro .text p {
    font-family: 'Lemon Bird' !important;
    font-size: 120px;
}

.intro .icon-1 {
    position: absolute;
    top: 40%;
    right: 7%;
    width: 90px;
    height: auto;
    z-index: 3;
    opacity: 0.9;
    user-select: none;
    pointer-events: none;
}

.intro .icon-2 {
    position: absolute;
    top: -8%;
    left: 8%;
    width: 120px;
    height: auto;
    z-index: 3;
    opacity: 0.9;
    user-select: none;
    pointer-events: none;
}

.main {
    padding-top: 120px;
}

/* section 🔻 */
.section {
    margin-top: 120px;
}

.section .inner {
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

section .title {
    font-size: 40px;
}

/* section-01 1️⃣ */
.section-01 {}

.section-01 .inner {
    position: relative;
}

.section-01 .inner .title {
    height: 200px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    padding: 60px 80px;
    margin-bottom: 60px;
    gap: 40px;

    background-color: #fff;
    box-shadow: 2px 4px 8px #999999b4;
    border-radius: 12px;
    margin-bottom: 20px;
}

.section-01 .inner .title::after {
    content: "";
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%) rotate(-3deg);
    width: 200px;
    height: 80px;
    background: url('../img/tape1.svg') no-repeat center/contain;
    z-index: 10;
}

.section-01 .inner .title img {
    width: 120px;
}

.section-01 .inner .cont {
    display: flex;
    align-items: flex-start;
    gap: 200px;
}

.section-01 .inner .me {
    text-align: center;
}


.section-01 .inner .me .image {
    position: relative;
    margin-bottom: 20px;
}

.section-01 .inner .me .image b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-01 .inner .me .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-01 .inner .sec01Swiper {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
}

.section-01 .inner .sec01Swiper .swiper-slide {
    width: 400px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section-01 .inner .sec01Swiper .swiper-slide:nth-child(2) {
    width: 300px !important;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide img {
    height: 120px;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide:active strong{
    
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .design,
.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .tech {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .design img,
.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .tech img {
    width: 60px;
    height: 60px;
}

.section-01 .inner .sec01Swiper .swiper-button-next,
.section-01 .inner .sec01Swiper .swiper-button-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    bottom: 10px;
    top: auto;
}

.section-01 .inner .sec01Swiper .swiper-button-next {
    right: 10px;
}

.section-01 .inner .sec01Swiper .swiper-button-prev {
    right: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.section-01 .inner .sec01Swiper .swiper-button-next::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url('../img/next.svg') no-repeat center center;
    background-size: contain;
}

.section-01 .inner .sec01Swiper .swiper-button-prev::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url('../img/prev.svg') no-repeat center center;
    background-size: contain;
}

.section-01 .inner .sec01Swiper .swiper-button-next:hover::before,
.section-01 .inner .sec01Swiper .swiper-button-prev:hover::before {
    border-left-color: #156BD8;
    border-right-color: #156BD8;
    transform: scale(1.1);
    transition: transform 0.2s ease, border-color 0.2s ease;
}

/* section-02 2️⃣ */
.section-02 {}

.section-02 .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section-02 .inner .title {
    height: 200px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    padding: 60px 80px;
    margin-bottom: 60px;
    gap: 40px;

    background-color: #fff;
    box-shadow: 2px 4px 8px #999999b4;
    border-radius: 12px;
}

.section-02 .inner .title::after {
    content: "";
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    width: 200px;
    height: 80px;
    background: url('../img/tape2.svg') no-repeat center/contain;
    z-index: 10;
}

.section-02 .inner .title img {
    width: 120px;
}

.section-02 .inner .title h2 {}

.section-02 .inner .category-tab {}

.section-02 .inner .item_wrap {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section-02 .inner .item_wrap .item {}

.section-02 .inner .item_wrap .item .image {}

.section-02 .inner .item_wrap .item .image img {}

.section-02 .inner .item_wrap .item .image .first-web {}

.section-02 .inner .item_wrap .item .image .second-mobile {}

.section-02 .inner .item_wrap .item.text {}

.section-02 .inner .item_wrap .item.text h3 {}

.section-02 .inner .item_wrap .item.text p {}

.section-02 .inner .item_wrap .item.text strong {}

.section-02 .inner .item_wrap .item .link {}

.section-02 .inner .item_wrap .item .link a {}

/* section-03 3️⃣ */
.section-03 {}

.section-03 .inner {
    position: relative;
}

.section-03 .inner .title {
    height: 200px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    padding: 60px 80px;
    margin-bottom: 60px;
    gap: 40px;

    background-color: #fff;
    box-shadow: 2px 4px 8px #999999b4;
    border-radius: 12px;
}

.section-03 .inner .title::after {
    content: "";
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    width: 200px;
    height: 80px;
    background: url('../img/tape3.svg') no-repeat center/contain;
    z-index: 10;
}

.section-03 .inner .title img {
    width: 120px;
}

.section-03 .inner .title h2 {}

.section-03 .inner .cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
}

.section-03 .inner .cont .phone {
    display: flex;
    align-items: center;
    gap: 40px;
}

.section-03 .inner .cont .phone img {
    width: 80px;
}

.section-03 .inner .cont .email {
    display: flex;
    align-items: center;
    gap: 80px;
}

.section-03 .inner .cont .email img {
    width: 80px;
}

.section-03 .inner .pdf_button

/* sketch_wrapper 🖍 */
.sketch_wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.sketch_wrapper .notebook-bg img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sketch_wrapper .title {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

#drawingPad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url('../img/brush.svg') 14 14, auto;;
}

.toolbar {
    margin-top: 16px;
    text-align: center;
}

.toolbar button {
    padding: 8px 12px;
    margin: 0 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;

    font-family: 'Lemon Bird';
}

/* .toolbar button:hover {} */

.toolbar button.color-btn {
    border-color: transparent;
    color: #fff;
}

.toolbar button.color-btn[data-color="#156bd8"] {
    background-color: #156bd8;
}

.toolbar button.color-btn[data-color="#FF689B"] {
    background-color: #FF689B;
}

.toolbar button.color-btn[data-color="#121212"] {
    background-color: #121212;
}

#eraserBtn {
    background-color: #f0f0f0;
    color: #333;
}

#eraserBtn.active {
    background-color: #ddd;
}

.brush-label {
    margin-left: 12px;
    margin-right: 6px;
    font-size: 14px;
    vertical-align: middle;
}

#brushSizeRange {
    vertical-align: middle;
    width: 120px;
    height: 4px;
    margin: 0 6px;
    cursor: pointer;
}

/* paper-slide */
.paper-slide {
    width: 100%;
}

.paper-slide .swiper-wrapper {}

.paper-slide .swiper-wrapper .swiper-slide {
    width: 425px;

    position: relative;
}

.paper-slide .swiper-wrapper .swiper-slide img {
    width: 100%;
    object-fit: contain;
}

.paper-slide .swiper-wrapper .swiper-slide p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lemon Bird' !important;
    font-size: 50px;
}

/* footer */
.footer {
    background-color: #F3F3F3;
}

.footer p {
    font-size: 20px;
    text-align: center;
}

/* top-btn */
.top {
    position: fixed;
    width: 60px;
    right: 80px;
    bottom: 80px;
    cursor: url('../img/mouse.svg') 18 18, auto;
    background-color: transparent;
    z-index: 99999;

    display: none;
}

.top img {
    width: 100%;
    height: 100%;
    display: block;
}

.top:active {
    cursor: url('../img/click.svg') 16 16, auto;
}

.top:active img {
    scale: 0.9;
}

button.top {
    bottom: 80px;
}