@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'Lemon Bird';
    src: url('LemonBird-Regular.woff2') format('woff2'),
        url('LemonBird-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/patrickhand/v23/LDI1apSQOAYtSuYWp8ZhfYe8XsLL.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(./woff2/Pretendard-Regular.woff2) format('woff2'), url(./woff/Pretendard-Regular.woff) format('woff');
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #F3F3F3;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #156bd8;
    border-radius: 4px;
    border: 2px solid #F3F3F3;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #0f52a5;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}


body {
    font-family: 'Lemon Bird';
    background-color: #F3F3F3;
    cursor: url('../img/mouse.svg') 18 18, auto;
    overflow: hidden;
}

body:active {
    cursor: url('../img/click.svg') 16 16, auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../img/paper1.png') no-repeat center top, cover;
    z-index: -1;
}

::selection {
    background-color: none;
    /* #156BD8  */
    color: #FF689B;
    height: 2px;
}

a,
a:hover,
a:focus,
a:active {
    cursor: url('../img/pointer.svg') 16 16, auto;
    font-family: 'Lemon Bird';
}

button,
button:hover,
button:focus,
button:active {
    cursor: url('../img/pointer.svg') 16 16, auto;
    font-family: 'Lemon Bird';
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-family: 'Ownglyph_ryurue-Rg';
    font-weight: 700;
    font-size: 32px;
}

strong {
    font-family: "Patrick Hand";
    font-size: 28px;
}

p {
    font-family: 'Ownglyph_ryurue-Rg';
    font-size: 24px;
    line-height: 36px;
    word-break: keep-all;
}

b {
    font-family: "Patrick Hand";
    font-size: 32px;
}

.page-container {
    perspective: 1500px;
    perspective-origin: center center;
}


/* landing */
.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../img/paper1.png') no-repeat center center / cover;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    /* 3D 뒤집기 매끄럽게 하기 위한 설정 */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-origin: top center;
    transform: rotateX(0deg);
    transition: transform 2s ease-in-out;
}

.landing.hide {
    transform: rotateX(90deg);
}

.landing.hide~.page .top {
    display: block;
}

.landing_svg-1,
.landing_svg-2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
    max-width: 600px;
}

.landing_svg-2 {
    width: 80%;
    max-width: 800px;
}

.landing_svg-2 path {
    stroke-width: 3 !important;
}

.landing_svg-1.active,
.landing_svg-2.active {
    display: block;
}

.page.hidden {
    display: none;
}

/* page */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* 높게 띄워서 인트로보다 위에 보이게 */
    background: url('../img/paper.png') no-repeat center bottom / cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.header .inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/paper.png') center center no-repeat / cover;
}

.header .inner .logo {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

.header .inner .logo img {
    width: 80px;
}

.header .inner .nav .gnb {
    display: flex;
    gap: 120px;
}

.header .inner .nav .gnb li a {
    font-size: 32px;
}

.header .inner .nav .gnb li:hover a {
    color: #156bd8;
    transition: 0.7;
}

/* intro 🎀 */
.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../img/paper1.png') no-repeat center center / cover;

    overflow: visible;
    position: relative;
    
}

.intro .inner {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .title {
    position: relative;
    z-index: 2;

    display: inline-flex;
    margin-bottom: 40px;
}

.intro .title img {
    width: 120px;
    height: auto;
    user-select: none;
    pointer-events: none;
}

.intro .path {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1192px;
    margin: 0 auto;
    z-index: 1;
    pointer-events: none;
}

.border-path {
    width: 100%px;
    height: auto;
    display: block;
}

.intro .text {
    position: absolute;
    top: -18%;
    left: 27%;
    transform: translateX(-80%) rotate(-10deg);
    z-index: 3;
    color: #121212;
    user-select: none;
    pointer-events: none;
    max-width: 1114px;
}

.intro .text p {
    font-family: 'Lemon Bird' !important;
    font-size: 120px;
}

.intro .icon-1 {
    position: absolute;
    top: 40%;
    right: 7%;
    width: 90px;
    height: auto;
    z-index: 3;
    opacity: 0.9;
    user-select: none;
    pointer-events: none;
}

.intro .icon-2 {
    position: absolute;
    top: -8%;
    left: 8%;
    width: 120px;
    height: auto;
    z-index: 3;
    opacity: 0.9;
    user-select: none;
    pointer-events: none;
}

.main {
    padding-top: 120px;
    background: url('../img/paper1.png') no-repeat center bottom / 100%;
    background-size: 100vw 120vh;
}

/* section 🔻 */
.section {
    margin-top: 120px;
    padding-bottom: 120px;
}

.section .inner {
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

section .title {
    font-size: 40px;
}

/* section-01 1️⃣ */
.section-01 {
    /* height: 100vh; */
    position: relative;
}

.section-01 .inner {
    position: relative;
}

.section-01 .inner .title {
    height: 200px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    padding: 60px 80px;
    margin-bottom: 60px;
    gap: 40px;

    background-color: #fff;
    box-shadow: 2px 4px 8px #999999b4;
    border-radius: 12px;
    margin-bottom: 20px;
}

.section-01 .inner .title::after {
    content: "";
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%) rotate(-3deg);
    width: 200px;
    height: 80px;
    background: url('../img/tape1.svg') no-repeat center/contain;
    z-index: 10;
}

.section-01 .inner .title img {
    width: 120px;
}

.section-01 .inner .cont {
    display: flex;
    align-items: flex-start;
    gap: 200px;
}

.section-01 .inner .me {
    text-align: center;
}

.section-01 .inner .me:hover .image {
    background: url('../img/section1-1-2.svg') no-repeat;
}

.section-01 .inner .me:hover .image img {
    display: none;
}

.section-01 .inner .me .image {
    position: relative;
    margin-bottom: 20px;
}

.section-01 .inner .me .image b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-01 .inner .me .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-01 .inner .sec01Swiper {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
    margin: 0 auto;
}

.section-01 .inner .slider-overlay {
    position: absolute;
    top: 153px;
    left: 310px;
    width: 80%;
    height: 82%;
    background: url(../img/book.png) no-repeat center center;
    background-size: contain;
    z-index: 5;
    pointer-events: none;
    overflow: hidden;
}

.section-01 .inner .sec01Swiper .swiper-slide {
    width: 495px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide img {
    height: 120px;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .design,
.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .tech {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .design img,
.section-01 .inner .sec01Swiper .swiper-wrapper .swiper-slide .p_wrap .tech img {
    width: 60px;
    height: 60px;
}

.section-01 .inner .sec01Swiper .swiper-nav {
    position: absolute;
    bottom: 10%;
    left: 430px;
    width: 100%;
    height: 40px;
    overflow: visible;
    z-index: 999;
}

.section-01 .inner .sec01Swiper .swiper-button-next {
    right: 935px;
}

.section-01 .inner .sec01Swiper .swiper-button-prev {
    right: 55px;
}

.section-01 .inner .sec01Swiper .swiper-button-prev,
.section-01 .inner .sec01Swiper .swiper-button-next {
    width: 40px;
    overflow: visible;
    z-index: 999;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}

.section-01 .inner .sec01Swiper .swiper-button-next::before,
.section-01 .inner .sec01Swiper .swiper-button-prev::before {
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-01 .inner .sec01Swiper .swiper-button-next::before {
    content: "";
    background-image: url('../img/next.svg');
}

.section-01 .inner .sec01Swiper .swiper-button-prev::before {
    content: "";
    background-image: url('../img/prev.svg');
}

.section-01 .inner .sec01Swiper .swiper-button-next:hover::before,
.section-01 .inner .sec01Swiper .swiper-button-prev:hover::before {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* section-02 2️⃣ */
.section-02 {
    overflow: visible;
}

.section-02 .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: visible;
}

.section-02 .inner .category-tab {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    overflow: visible;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-02 .inner .category-tab .tab {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #999999;
    transition: color 0.2s;
}

.section-02 .inner .category-tab .tab:hover {
    color: #156BD8;
}

.section-02 .inner .category-tab .tab-active {
    position: relative;
    z-index: 0;
    color: #121212;
}

.section-02 .inner .category-tab .tab-active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/menu_tab_point.svg') no-repeat center center;
    background-size: 100% auto;

    width: 140%;
    height: 140%;
    z-index: 0;
}

.section-02 .inner .title {
    /* height: 200px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); */

    display: inline-flex;
    align-items: center;
    padding: 60px 80px;
    margin: 0 auto 20px;
    /* 위쪽 0, 좌우 auto, 아래 60px */
    gap: 40px;

    background-color: #fff;
    box-shadow: 2px 4px 8px #999999b4;
    border-radius: 12px;
    height: 200px;
}

.section-02 .inner .title::after {
    content: "";
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    width: 200px;
    height: 80px;
    background: url('../img/tape2.svg') no-repeat center/contain;
    z-index: 10;
}

.section-02 .inner .title img {
    width: 120px;
}

.section-02 .inner .title h2 {}

.section-02 .inner .category-tab {
    padding-bottom: 80px;
}

.section-02 .inner .item_wrap {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.section-02 .inner .item_wrap .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-02 .inner .item_wrap .item .image {
    display: flex;
    position: relative;
    width: 50%;
}

.section-02 .inner .item_wrap .item .image img {
    object-fit: contain;
}

.section-02 .inner .item_wrap .item .image .second-mobile {
    position: absolute;
    bottom: -8%;
    left: -20%;
    rotate: -5deg;
}

.section-02 .inner .item_wrap .item .only-mobile .only-mobile01 {
    z-index: 1;
    rotate: -5deg;
}

.section-02 .inner .item_wrap .item .image .only-mobile02 {
    rotate: 8deg;
}

.section-02 .inner .item_wrap .item .text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px 0 12px 120px;

    background: url('../img/Stickynote-1.png') no-repeat center center/ cover;
    background-size: 100%;
    width: 560px;
    height: 450px;
}

.section-02 .inner .item_wrap .item .text-02 {
    background-image: url('../img/Stickynote-2.png');
    height: 500px;
}

.section-02 .inner .item_wrap .item .text-03 {
    background-image: url('../img/Stickynote-3.png');
}

.section-02 .inner .item_wrap .item .text-04 {
    background-image: url('../img/Stickynote-4.png');
}

.section-02 .inner .item_wrap .item .text-05 {
    background-image: url('../img/Stickynote.png');
}

.section-02 .inner .item_wrap .item.text h3 {
    font-family: 'Ownglyph_ryurue-Rg';
    font-weight: 700;
}

.section-02 .inner .item_wrap .item .text p {
    font-family: 'Pretendard' !important;
    color: #333333;
    font-weight: 300;
}

.section-02 .inner .item_wrap .item .text strong {
    font-weight: 700;
}

.section-02 .inner .item_wrap .item .link {
    padding: 12px 20px;
}

.section-02 .inner .item_wrap .item .link a {}

.section-02 .inner .item_wrap .item .text_bg {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: -99;
    width: 600px;
}


.section-02 .inner .sec02Swiper {
    width: 100%;
}

.section-02 .inner .sec02Swiper .swiper-wrapper {
    width: 100%;

}

.section-02 .inner .sec02Swiper .swiper-wrapper .swiper-slide {
    width: 25%;
    padding: 12px 12px;
    background-color: #fff;
    box-shadow: -2px 4px 8px #999999b4;

}

.section-02 .inner .sec02Swiper .swiper-wrapper .swiper-slide:hover img {
    scale: 1.1;
}

.section-02 .inner .sec02Swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    object-fit: contain;
    transition: 0.2s;
}


/* section-03 3️⃣ */
.section-03 {
    /* height: 100vh; */
}

.section-03 .inner {
    position: relative;
}

.section-03 .inner .title {
    height: 200px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    padding: 60px 80px;
    margin-bottom: 20px;
    gap: 40px;

    background-color: #fff;
    box-shadow: 2px 4px 8px #999999b4;
    border-radius: 12px;
}

.section-03 .inner .title::after {
    content: "";
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    width: 200px;
    height: 80px;
    background: url('../img/tape3.svg') no-repeat center/contain;
    z-index: 10;
}

.section-03 .inner .title img {
    width: 120px;
}

.section-03 .inner .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 0;
    padding-bottom: 80px;
}

.section-03 .inner .cont strong,
.section-03 .inner .cont p {
    font-size: 32px !important;
}

.section-03 .inner .cont .phone {
    display: flex;
    align-items: center;
    gap: 40px;
}

.section-03 .inner .cont .copy {
    width: 30px;
}

.section-03 .inner .cont .copy:hover {
    cursor: url('../img/pointer.svg') 16 16, auto;
}

.section-03 .inner .cont .email {
    display: flex;
    align-items: center;
    gap: 40px;
}

.section-03 .inner .pdf_button {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    display: inline-block;
}

.section-03 .inner .pdf_button .open,
.section-03 .inner .pdf_button .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease;
}

.section-03 .inner .pdf_button .open {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

.section-03 .inner .pdf_button .hover {
    opacity: 0;
    visibility: hidden;
}

.section-03 .inner .pdf_button .hover a {
    color: #fff;
}

.section-03 .inner .pdf_button:hover .open {
    opacity: 0;
    visibility: hidden;
}

.section-03 .inner .pdf_button:hover .hover {
    opacity: 1;
    visibility: visible;
}

.section-03 .inner .pdf_button a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
}

/* sketch_wrapper 🖍 */
.sketch_wrapper {
    width: max-content;
    margin: 20px auto;
}

.sketch_wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: url('../img/.png') no-repeat center/contain;
    pointer-events: none;
}

.sketch_wrapper .inner {
    position: relative;
    display: inline-block;
}

/* 🔥🔥🔥 */
.sketch_wrapper .inner .notebook-bg:active {
    cursor: url('../img/brush.svg') 16 16, auto;
}

.sketch_wrapper .inner .notebook-bg img {
    display: block;
    max-width: 100%;
    height: 80vh;
}

.sketch_wrapper .inner .notebook-bg img::after {
    content: "";
    background: url('../img/smiling-star.png') 40 40 / no-repeat center;
}

#drawingPad {
    position: absolute;
    top: 0;
    left: 0;
}

/* paper-slide */
.paper-slide {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin: 80px auto 0;
}

.paper-slide .swiper-wrapper {
    display: flex;
}

.paper-slide .swiper-wrapper .swiper-slide {
    position: relative;
}

.paper-slide .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    transform-origin: center center;
    transition: transform 0.4s ease-in-out;
}

.paper-slide .swiper-wrapper .swiper-slide p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lemon Bird' !important;
    color: #121212;
    font-size: 50px;
    margin: 0;
    white-space: nowrap;
    pointer-events: none;
}

.tilt-left {
    transform: rotate(-3deg);
}

.tilt-right {
    transform: rotate(3deg);
}

/* footer */
.footer {
    background-color: #fff;
    width: 100%;
    padding: 60px 0;
}

.footer p {
    font-size: 24px;
    text-align: center;
}

/* top-btn */
.top {
    position: fixed;
    width: 80px;
    right: 80px;
    bottom: 80px;
    cursor: url('../img/mouse.svg') 18 18, auto;
    background-color: transparent;
    z-index: 99999;
}

.top img {
    width: 80%;
    display: block;
}

.top:active {
    cursor: url('../img/click.svg') 16 16, auto;
}

.top:active img {
    scale: 0.9;
}

button.top {
    bottom: 80px;
}
